.contentMenu {
    margin: 60px 0;
}
.sec-title .title.titleColContact {
    font-size: 20px;
    line-height: 28px;
}
.contentInputBookRoom {
    margin-bottom: 15px;
}
.wrapTextContact {
    font-size: 18px;
    line-height: 28px;
}